<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <h1>Solicitud de cambio de conseña</h1>
        </div>
        <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
          <h2 style="margin-top: 0;"Esta es su token para el cambio de contraseña  ${token} </h2>
        </div>
        <p>Esta es su token para el cambio de contraseña  ${{token}} </p>
        <p>Si recibio este mail y no solicitó el cambio de contraseña cambiarla</p>
      </div>
    </body>
</html>