<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
</head>
<body>
    <h1>Forgot Password</h1>
    <form action="/api/users/change-password" method="post">
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="confirmPassword">Repeat New password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <br>
        <input type="hidden" name="token" value="{{token}}">
        <button type="submit" {{changePassword}}>Confirm</button>
    </form>
    <br>
</body>
</html>